* {
    margin: 0;
    padding: 0;
}

#welcome-section img{
    padding: 50px;
    width: 250px;
    height: 250px;
    border-radius: 75px;
    float: left;
    

}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: ;
    width: 100%;
}
.nav-list {
    list-style: none;
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: antiquewhite;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-shadow: -3px 0 #d0e8e3, 0 3px #d0e8e3, 3px 0 #d0e8e3, 0 -3px #d0e8e3;
    background-color:#fed88f;
}

@media screen {
    body {
        width: 75%;

    }
}

@media print {
    body {
        width: 100%;
    }
}
